  .rad-label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    width: 150px;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
  }
  
  .rad-label:hover,
  .rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
  }
  
  .rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  .rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
  
    background: linear-gradient(to right bottom, hsl(0, 0%, 0%), hsl(0, 100%, 50%));
    position: relative;
  }
  
  .rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  .rad-input:checked+.rad-design::before {
    transform: scale(0);
  }
  
  .rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    transition: .3s;
  }
  
  .rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
  }
  
.layer-div{
    margin-left: 25%;
}

.era{
  display:block; 
  background-color: #59788E; 
  width:200px; 
  padding: 10px 25px;
  margin-left:25%;
  border-width:3px;
  border-radius: 10%;
  border-color: #FF0000;
}

.button{ 
  height: 40px;
  width: 60px;
  background-color: rgb(204, 204, 204);
  border: 2px;
  border-radius: 4px
}
.clicked{ 
  height: 40px;
  width: 60px;
  background-color: rgb(126, 126, 126);
  border: 2px;
  border-radius: 4px
}